ssh-rsa <key-hashr> user@domain.com # << MAKE SURE OPENSTACK SSH PUBLIC KEY IS DEFINED HERE
ssh-rsa <key-hash-for-<servername>master> <servername>master@jinkit.com # << MAKE SURE KUBEMASTER SSH PUBLIC KEY IS DEFINED HERE
