# Custom Fansikube Hosts: /etc/hosts
127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
#
# Add Custom Docker Registry
#registry_ip $registry_name.$domain_name registry
#
# Fansikube: Ubuntu Masters
master_ip "$server_name"-master.$domain_name "$server_name"-master
#
# Fansikube: Ubuntu Nodes
$node01_ip "$server_name"-node01.$domain_name "$server_name"-node01
$node02_ip "$server_name"-node02.$domain_name "$server_name"-node02
$node03_ip "$server_name"-node03.$domain_name "$server_name"-node03
$vrouter_ip "$server_name"-vrouter.$domain_name "$server_name"-vrouter
