#
# Fancikube Custom SSH Config Example: ~/.ssh/config
Host "$server_name_ubuntu"-master
    User ubuntu
    Hostname "$server_name_ubuntu"-master
    IdentityFile $HOME/.ssh/$keypair_priv
    StrictHostKeyChecking no

Host "$server_name_ubuntu"-node01
    User ubuntu
    Hostname "$server_name_ubuntu"-node01
    IdentityFile $HOME/.ssh/$keypair_priv
    StrictHostKeyChecking no

Host "$server_name_ubuntu"-node02
    User ubuntu
    Hostname "$server_name_ubuntu"-node02
    IdentityFile $HOME/.ssh/$keypair_priv
    StrictHostKeyChecking no

Host "$server_name_ubuntu"-node03
    User ubuntu
    Hostname "$server_name_ubuntu"-node03
    IdentityFile $HOME/.ssh/$keypair_priv
    StrictHostKeyChecking no

Host "$server_name_ubuntu"-vrouter
    User ubuntu
    Hostname "$server_name_ubuntu"-vrouter
    IdentityFile $HOME/.ssh/$keypair_priv
    StrictHostKeyChecking no
